// ========================= [ Header styles ] =========================
.header {
    background-color: #3B5D50;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29) ;


    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    @media (max-width: $breakpoint768){
        padding: 18px 0;
    }
}
.logo {
    z-index: 3;
}

// ========================== [ Menu styles ] ==========================
.menu {
    display: flex;
    gap: 44px;

    // .menu__item
    &__item {
        display: flex;
        position: relative;
    }

    // .menu__item-link
    &__item-link {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.5;
        display: flex;
        position: relative;
        transition: 0.5s color;
        &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: -7px;
            background: #F9BF29;
            height: 5px;
            width: 100%;
            transform: scale(0);
            transition: 0.5s transform;
      
        }
        &:hover {
            color: #FFFFFF;
            opacity: 1;
            transition: ease-in 0.15s;
            
            &:after {
                transform: scale(1);
            }
        }
    }

    // Mobile menu styles
    @media screen and (max-width: $burgerBreakpoint) {
        position: fixed;
        background:#3B5D50;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 2;
            animation: fade 0.1s linear;
            .menu__item-link{
                opacity: 1;

            }
        }
    }
}

// ========================= [ Burger styles ] =========================
.burger {
    display: none;
    background: transparent;
    z-index: 3;
    @media screen and (max-width: $burgerBreakpoint) {
        display: flex;
        position: relative;
        height: 20px;
        width: 30px;

        &.active {
            &:before {
                background: $burgerActiveColor;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 8px;

            }

            &:after {
                background: $burgerActiveColor;
                transform: rotate(-45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }

            & span {
                transform: scale(0);
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: $burgerColor;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: $burgerColor;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }
}
